
@{
    ViewBag.Title = "Bloq";
}

<h5 class="title text-center">Usuario Bloqueado Pelo Administrador Do Site entre em contato com contato@documentosachados.com.br </h5>


<h5 class="title text-center">@Html.ActionLink("Deslogar", "LogOut", "Home")</h5>