
@{
    ViewBag.Title = "LoginSucessUser";
}


@if (Session["LogarUserIdComun"] != null)
{

    <!-- services -->
    <section id="services" class="section pad-bot5 bg-white">
        <div class="container">
            <div class="row mar-bot5">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <div class="wow bounceIn" data-animation-delay="7.8s">

                            <h2 class="section-heading animated"><center>Procure aqui o seu documento perdido</center></h2>
                            <h4><center>Navegue pelo documento específico abaixo:</center></h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mar-bot40">
                <div class="col-lg-4">
                    <div class="wow bounceIn">
                        <div class="align-center">

                            <div class="wow rotateIn">
                                <div class="service-col">
                                    <a href="~/Cpf/Buscar"><img src="~/Content/img/cpf.jpg"></a>
                                    <h2><a href="~/Cpf/Buscar">Cpf</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="align-center">
                        <div class="wow bounceIn">

                            <div class="wow rotateIn">
                                <div class="service-col">

                                    <a href="~/Cnh/Buscar"><img src="~/Content/img/cnh.jpg"></a>

                                    <h2><a href="~/Cnh/Buscar">Cnh</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="align-center">
                        <div class="wow bounceIn">
                            <div class="service-col">
                                <a href="~/Rg/Buscar"><img src="~/Content/img/rg.jpg"></a>
                                <h2><a href="~/Rg/Buscar">Rg</a></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    if (Session["BuscarRg"] == "AtivoRg")
    {
        @Html.Action("Buscar", "Rg")
    }
    else if (Session["BuscarCpf"] == "AtivoCpf")
    {
        @Html.Action("Buscar", "Cpf")
    }
    else if (Session["BuscarCnh"] == "AtivoCnh")
    {
        @Html.Action("Buscar", "Cnh")
    }



}