
@{
    ViewBag.Title = "Sobre";
}

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="sobre">
                <h2 class="title text-center">Sobre o site</h2>
                O Documentos Achados é um site de serviços voltado para utilidade pública, com um
                ambiente simples e prático tem o objetivo de facilitar,  registros <br />
                e buscas de documentos perdidos, (rg, cpf, e outros).<br />

                Criado por grupo de amigos durante curso de ti, em desenvolvimento de sites.
                buscaram elaborar uma nova ferramenta para auxiliar as pessoas que <br />
                por algum motivo, perderam os seus documentos. E no Documentos Achados poderão tentar
                resgata-los. esses pertences que sem dúvida provocam <br />
                um grande transtorno na hora de solicitar a segunda via.<p></p>

                <b>PESQUISANDO DOCUMENTO</b><br />

                A pesquisa será realizada e baseada, de acordo com os dados cadastrados em
                nosso banco de dados.<p></p>

                <b>CADASTRAR DOCUMENTO</b><br />

                Os usuários devem realizar um cadastro, após isso, poderão adicionar
                informações sobre os documentos perdidos, preenchendo obrigatóriamente <br />
                todos os campos, visando uma pesquisa mais detalhada do documento.)<p></p>

                <b>ACHEI UM DOCUMENTO</b><br />

                Caso o usuário tenha encontrado algum documento, deverá se cadastrar e
                enviar um email através do site para dono do pespectivo documento, para
                combinar a entrega do mesmo.(lembrando que o Documentos Achados não participará na
                devolução do documento encontrado).
            </div>
        </div>
    </div>
</div>



